<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="ClipSage"
           Version="$(var.Version)"
           Manufacturer="ClipSage"
           UpgradeCode="6fe30b47-2626-43ff-9384-d324f425a2a2"
           InstallerVersion="200">

    <SummaryInformation Description="ClipSage Installer" />

    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" CompressionLevel="high" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="COMPANYFOLDER" Name="ClipSage">
        <Directory Id="INSTALLFOLDER" Name="ClipSage">
          <Component Id="MainExecutable" Guid="*">
            <File Id="MainExe" Source="..\ClipSage.App\bin\Debug\net9.0-windows\ClipSage.App.exe" KeyPath="yes" />
          </Component>
          <Component Id="CoreLibrary" Guid="*">
            <File Id="CoreDll" Source="..\ClipSage.App\bin\Debug\net9.0-windows\ClipSage.Core.dll" KeyPath="yes" />
          </Component>
          <!-- Add all required DLLs -->
          <Component Id="ControlzExDll" Guid="*">
            <File Id="ControlzExDll" Source="..\ClipSage.App\bin\Debug\net9.0-windows\ControlzEx.dll" KeyPath="yes" />
          </Component>
          <Component Id="HardcodetNotifyIconDll" Guid="*">
            <File Id="HardcodetNotifyIconDll" Source="..\ClipSage.App\bin\Debug\net9.0-windows\Hardcodet.NotifyIcon.Wpf.dll" KeyPath="yes" />
          </Component>
          <Component Id="LiteDBDll" Guid="*">
            <File Id="LiteDBDll" Source="..\ClipSage.App\bin\Debug\net9.0-windows\LiteDB.dll" KeyPath="yes" />
          </Component>
          <Component Id="MahAppsMetroDll" Guid="*">
            <File Id="MahAppsMetroDll" Source="..\ClipSage.App\bin\Debug\net9.0-windows\MahApps.Metro.dll" KeyPath="yes" />
          </Component>
          <Component Id="MicrosoftXamlBehaviorsDll" Guid="*">
            <File Id="MicrosoftXamlBehaviorsDll" Source="..\ClipSage.App\bin\Debug\net9.0-windows\Microsoft.Xaml.Behaviors.dll" KeyPath="yes" />
          </Component>
          <Component Id="NHotkeyDll" Guid="*">
            <File Id="NHotkeyDll" Source="..\ClipSage.App\bin\Debug\net9.0-windows\NHotkey.dll" KeyPath="yes" />
          </Component>
          <Component Id="NHotkeyWpfDll" Guid="*">
            <File Id="NHotkeyWpfDll" Source="..\ClipSage.App\bin\Debug\net9.0-windows\NHotkey.Wpf.dll" KeyPath="yes" />
          </Component>
          <Component Id="NLogDll" Guid="*">
            <File Id="NLogDll" Source="..\ClipSage.App\bin\Debug\net9.0-windows\NLog.dll" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <Feature Id="ProductFeature" Title="ClipSage">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="CoreLibrary" />
      <ComponentRef Id="ControlzExDll" />
      <ComponentRef Id="HardcodetNotifyIconDll" />
      <ComponentRef Id="LiteDBDll" />
      <ComponentRef Id="MahAppsMetroDll" />
      <ComponentRef Id="MicrosoftXamlBehaviorsDll" />
      <ComponentRef Id="NHotkeyDll" />
      <ComponentRef Id="NHotkeyWpfDll" />
      <ComponentRef Id="NLogDll" />
    </Feature>
  </Package>
</Wix>
