<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clipper.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Clipper.App.Properties.Settings>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxHistorySize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IgnoreDuplicates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TruncateLargeText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxTextLength" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IgnoreLargeImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxImageSize" serializeAs="String">
                <value>5</value>
            </setting>
        </Clipper.App.Properties.Settings>
    </userSettings>
</configuration>
